header,
main,
nav,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

header,
footer {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: darksalmon;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: brown;
}

main {
    width: 800px;
    margin: 0 auto;
}

nav {
    width: 100px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid goldenrod;
    background-color: peachpuff;
}

section {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid green;
    background-color: palegreen;
}

.section {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: darkgreen;
}

footer {
    border-color: blue;
    background-color: deepskyblue;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: midnightblue;
}